.beapart-button {
    width: 200px;
    height: 40px;
    border: 1px solid #BA14BD;
    color: #BA14BD;
    background-color: white;

}

.beapart-button:hover {
    background-color: #BA14BD;
    color: white;
    box-shadow: 5px 3px 10px #BA14BD;
}

h2 {
    font-size: 25px !important;
    color: #686868;

}

h3 {
    font-size: 16px !important;
    font-weight: 500;
    color: #3D3D3D;
}

p {
    font-size: 18px;
    color:#6e6e6e;
}

.query-form {
    background-color: #730875;
}

.form-title {
    color: white;
    font-size: 30px !important;
    font-weight: 500;
}

.form-text {
    font-size: 15px !important;    
    font-weight: 400;
    color: white !important;
}

.form-input {
    text-indent: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid white;
    background-color: #730875;
    width: 100%;
    color: white;
}

input:focus {
    outline:none;
}

.text-area {
    background-color: #730875;
    width: 100%;
    height: 150px;
    color: white;
    border: 1px solid white;
}

.form-button {
    width: 100%;
    border: 0px;
    height: 40px;
    border: 2px solid white;
    background-color: #730875;
    color: white;

}
.form-button:hover {
    color: #730875;
    background-color: white;

}

.footer-logo {
    width: 150px;
    margin-left: -40px;
}


.footer-caption {
    font-weight: 400;
    font-size: 15px;
}

.footer-text {
    font-size: 15px;
}
