.dashboard {
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
}

.dashboard-content {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 200px;
    padding-left: 150px;
}

.dash-title {
    font-size: 40px;
}

.d-blog-sub-title {
    color: #ba14bd;
    font-size: 10px;
    font-weight: 700;
}

.create-blog-btn {
    background-color: #ba14bd;
    color: white;
    padding: 5px 40px 6px 20px;
    border: 0px;
    border-radius: 50px;
    font-weight: 700;
}

.create-blog-btn:hover {
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
}

/* input:checked ~ .checkmark {
    background-color: red;
} */

.create-box {
    background-color: white;
}

.form-label {
    font-size: 16px;
    font-weight: 500;
    color: #6d6d6d;
}

.form-field {
    border: 0px;
    border-radius: 10px;
    background-color: #ebebeb;
    height: 35px;
    width: 50%;
}

.form-field:focus {
    border: 1px solid #ba14bd;
    background-color: white;
}

.delete-btn {
    background-color: white;
    color: #ba14bd;
    border: 1px solid #ba14bd;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
}

.delete-btn:hover {
    background-color: #ba14bd;
    color: white;
    border: 1px solid #ba14bd;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
}

.d-blog-card {
    height: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}

.d-blog-card h3 {
    font-weight: 700;
}

.d-blog-card p {
    font-size: 15.5px;
}

.d-blog-card:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#profile-wrapper {
    margin-left: 450px;
    margin-right: 200px;
    padding-top: 150px;
}

#profile-content {
    padding: 10px;
}

.p-user-name {
    font-size: 25px;
    font-weight: 700;
}

.p-user-email {
    font-size: 17px;
    color: #888787;
}

.p-bio {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
}

.profile-update-form {
    border: 0px;
    background-color: #ebebeb;
    border-radius: 10px;
}

.profile-update-form:focus {
    border: 1px solid #ba14bd;
    border-radius: 10px;
    background-color: white;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
}
.profile-upload-btn-wrap {
    position: relative;
}
.profile-upload-btn {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #919191;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.profile-upload-btn:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}

.p-contact {
    font-size: 15px;
}

.blog-para {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* pagination start */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 10px;
    bottom: -15px;
}

.paginationItem {
    background: #fff;
    border: 1px solid #ba14bd;
    padding: 10px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.prev,
.next {
    background: #fff;
    border: none;
    color: grey;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
}

.paginationItem.active {
    border: 1px solid #f092f1;
    color: #888;
    pointer-events: none;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}
/* pagination ends */

.swal-button {
    padding: 7px 19px;
    /* border-radius: 2px; */
    background-color: #ba14bd;
    font-size: 12px;
    /* border: 1px solid #ba14bd; */
    /* text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); */
}
.swal-button:hover {
    background-color: #ba14bd;
}

.blogs-box {
    height: 400px;
    width: 60%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.blogs-box::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.search-bar {
    text-indent: 10px;
    /* border-radius: 20px; */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-color: #e0e0e0;
    background-color: #fafafa;
}
.search-bar:focus {
    border-color: #ba14bd;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-bar::placeholder {
    font-size: 15px;
}

.search-icon-container {
    height: 33px;
    width: 35px;
    position: relative;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #e0e0e0;   
    /* background-color: white;  */
}

.search-bar:focus + .search-icon-container {
    border-color: #ba14bd;
}

@media screen and (max-width: 768px) {
    .dashboard-content {
        margin: auto;
        width: 50%;
        text-align: center;
        padding-top: 210px;
        padding-left: 0px;
    }
    .dash-title {
        font-size: 32px !important;
    }

    .create-blog-title {
        font-size: 25px !important;
    }

    .create-blog-btn {
        background-color: #ba14bd;
        color: white;
        font-weight: 700;
        border: 0px;
        border-radius: 50px;
        font-size: 15px;
    }

    .form-field {
        width: 100%;
    }

    #profile-wrapper {
        margin-left: 30px;
        padding-top: 100px;
        margin-right: 10px;
    }

    #profile-content {
        padding: 10px;
    }
    .blogs-box {
        height: 100%;
        width: 100%;
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .dashboard-content {
        margin: auto;
        width: 50%;
        text-align: center;
        padding-top: 220px;
        padding-left: 200px;
    }
    .dash-title {
        font-size: 32px !important;
    }

    #profile-wrapper {
        margin-left: 100px;
        padding-top: 100px;
        margin-right: 5px;
    }
    
}
