.dashboard {
    background-color: #f6f6f6;
    width: 100vw;
    min-height: 100vh;
}

.dashboard-content {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 200px;
    padding-left: 150px;
}

.dash-title {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    .dashboard-content {
        margin: auto;
        width: 50%;
        text-align: center;
        padding-top: 210px;
        padding-left: 0px;
    }
    .dash-title {
        font-size: 32px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .dashboard-content {
        margin: auto;
        width: 50%;
        text-align: center;
        padding-top: 220px;
        padding-left: 200px;
    }
    .dash-title {
        font-size: 32px !important;
    }
}
