@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
}

.background {
    background-image: url("../images/bg.png"); 
    background-repeat: no-repeat; 
    background-position: right;
    background-size: contain;
    margin-right: 200px;
}

.title {
    color: #A10AA4;
    font-weight: 700;
    font-size: 35px !important;
}

.hr-line {
    background-color: #BA14BD;
}

.caption {
    font-size: 23px;
    color: #646464;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .background {
        margin-right: -100px;
    }
    .home-text {
        width: 200px;
    }
    .main-text {
        font-size: 30px !important;
        font-weight: 500;
    }
    .mockingbird {
        font-size: 25px;
    }
    .home-caption {
        font-size: 18px;
        width: 150px;
    }
    
  }
