.blog-title {
    color: #4b4b4b;
    font-size: 20px !important;
    font-weight: 600;
}

.blog-author {
    font-weight: 400;
    font-size: 15px !important;

}

.blog-description {
    overflow: hidden;
    max-height: 55px;
}
.blog-description p {
    font-size: 0.8rem;
    line-height: 1.3em;
}
