.blog-title {
    color: #4b4b4b;
    font-size: 20px !important;
    font-weight: 600;
}

.blog-author {
    font-weight: 400;
    font-size: 15px !important;

}

.blog-description {
    font-size: 15px !important;
    font-weight: 400;
}
